.form {
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  padding: 64px 48px 64px 48px;
}

.heading {
  text-align: center;

  color: #292524;
  font-weight: 500;
}

.reset {
  margin-left: 30px;
}

label {
  font-size: 14px;
  color: #292524;
}

.sign-in-btn {
  width: 100%;
}

.rememberMe-container {
  display: flex;
  justify-content: flex-start;
}

.checkboxLabel {
  margin-left: 10px;
}

.forgot-text {
  margin-top: 10px;
}
